@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bffwl2');
  src:  url('../fonts/icomoon.eot?bffwl2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bffwl2') format('truetype'),
    url('../fonts/icomoon.woff?bffwl2') format('woff'),
    url('../fonts/icomoon.svg?bffwl2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calc:before {
  content: "\e90a";
}
.icon-care:before {
  content: "\e90b";
}
.icon-circle:before {
  content: "\e90c";
}
.icon-conditions:before {
  content: "\e90d";
}
.icon-contacts:before {
  content: "\e90e";
}
.icon-data:before {
  content: "\e90f";
}
.icon-delivery:before {
  content: "\e910";
}
.icon-doc:before {
  content: "\e911";
}
.icon-employees:before {
  content: "\e912";
}
.icon-favourites:before {
  content: "\e913";
}
.icon-how-do-order:before {
  content: "\e914";
}
.icon-legal:before {
  content: "\e915";
}
.icon-make-order:before {
  content: "\e916";
  color: #fbfbfb;
}
.icon-materials:before {
  content: "\e917";
}
.icon-networks:before {
  content: "\e918";
}
.icon-news:before {
  content: "\e919";
}
.icon-orders:before {
  content: "\e91a";
}
.icon-pay:before {
  content: "\e91b";
}
.icon-play:before {
  content: "\e91c";
}
.icon-policy:before {
  content: "\e91d";
}
.icon-pos:before {
  content: "\e91e";
}
.icon-stock:before {
  content: "\e91f";
}
.icon-time:before {
  content: "\e920";
}
.icon-training:before {
  content: "\e921";
}
.icon-user2:before {
  content: "\e922";
}
.icon-use-site:before {
  content: "\e923";
}
.icon-webinar:before {
  content: "\e924";
}
.icon-xls:before {
  content: "\e925";
}
.icon-user:before {
  content: "\e909";
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-arrow-right:before {
  content: "\e906";
  color: #d8d8d8;
}
.icon-left-arrow:before {
  content: "\e900";
}
.icon-right-arrow:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-logo:before {
  content: "\e903";
}
.icon-vk:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
