$mid-green: #5cb746;
$light-grass-green: #84f16a;
$bluey-grey: #8798ab;
$slate: #4f5f72;
$pale-grey: #f3f5f9;

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	background-color: #fbfbfb;
}

section, header, footer {
	margin: 0 auto;
}

a {
	outline: none;
	&:hover {
		cursor: pointer;
		text-decoration: none;
	}
}

p {
	color: #6b767c;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: normal;
	color: #000000;
	&.title {
		text-align: center;
		margin-bottom: 28px;
	}
}

.overlay {
	position:fixed;
	width: 100%;
	height: 100%;
	z-index: 9;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.13);
	display: none;
	&.active {
		display: block;
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.container {
	padding: 0 50px;
	max-width: 1270px;
	margin: 0 auto;
	min-width: 1000px;
}

.h1 {
	font-size: 40px;
	font-weight: 600;
	text-align: left;
	color: #506073;
}

.h2 {
	font-size: 35px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: normal;
	text-align: left;
	color: #506073;
}

.enter-form {
	display: none;
	width: 300px;
	padding: 16px 20px;
	background-color: #ffffff;
	position: absolute;
	z-index: 10;
	top: 34px;
	right: 15px;
	border-radius: 3px;
	&__btn {
		height: 35px;
		line-height: 35px;
		padding: 0 12px;
		color: #ffffff;
		font-size: 15px;
		margin-right: 12px;
		border-radius: 3px;
  		background-color: #748597;
  		border: none;
  		outline: none;
  		&:hover {
	    	color: #ffffff;
	    	background-image: none;
	    	background-color: #4f5f72;
			background-color: $slate;
	    }
		&:last-child {
		  margin-right: 0;
		  background-image: -webkit-linear-gradient($light-grass-green, $mid-green);
		  background-image: -o-linear-gradient($light-grass-green, $mid-green);
		  background-image: linear-gradient($light-grass-green, $mid-green);
		  &:hover {
		    	color: #ffffff;
		    	background-image: none;
		    	background-color: #5cb746;
	    	}
		}
	}
	&.active {
		display: block;
	}
	a.remember-password {
		color: #0583be;
		font-size: 12px;
		line-height: 12px;
		&:hover {
			color: #0583be;
		}
	}
	.form-row {
		width: 100%;
		margin-bottom: 14px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.input {
		width: 100%;
		height: 31px;
		line-height: 31px;
		color: #314359;
		font-size: 12px;
		border-radius: 3px;
		background-color: #ffffff;
		border: solid 1px #c2cad8;
		padding: 0 10px;
	}
}

.btn {
	outline: none;
	width: 210px;
	height: 50px;
	border: none;
	border-radius: 4px;
	object-fit: contain;
	background-image: linear-gradient(to bottom, #84f16a, #5cb746);
    background-image: linear-gradient(to bottom, $light-grass-green, $mid-green);
	font-size: 20px;
	font-weight: 600;
	line-height: 50px;
	text-align: center;
	color: #ffffff;
	padding: 0;
	transition: all 0s;
	&:hover {
		background-image: none;
		background-color: #5cb746;
  		background-color: $mid-green;
	}
	&:focus {
		box-shadow: none;
	}
}

.personal-area {
	background-color: #f3f5f9;
    background-color: $pale-grey;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-bottom: 6px;
    @extend .clearfix;
    .row {
    	position: relative;
    }
    &__balance {
    	float: left;
    	color: #314459;
    	font-size: 12px;
    	padding-left: 247px;
    	span {
    		color: #d0021b;
    		b {
    			font-size: 14px;
    		}
    	}
    }
    &__text {
    	font-size: 15px;
		font-weight: 600;
		color: #0583be;
		float: left;
		span {
			margin-left: 15px;
			font-size: 12px;
			color: #314459;
			font-weight: normal;
		}
    }
    .personal {
    	display: block;
    	font-size: 14px;
		color: #314359;
		float: right;
		position: relative;
		z-index: 10;
		span {
			margin-right: 10px;
			color: #8f8f90;
		}
		&.active {
			background-color: #ffffff;
			padding: 0 20px;
			height: 35px;
		}
    }

}

.header {
	padding-top: 35px;
	.logo {
		font-size: 46px;
		color: #d92328;
		span {
			&:before {
				font-size: 46px;
			}
		}
	}
	.btns-list {
		text-align: left;
		list-style: none;
		padding-left: 100px;
		&__item {
			line-height: 2;
			font-size: 14px;
			a {
				color: #0583be;
				&:hover {
					color: #506073;
				}
			}
			span {
				margin-right: 10px;
				font-size: 20px;
				color: #fbfbfb;
			}
		}
	}

	.header-menu {
		width: 100%;
		margin-top: 34px;
		text-decoration: none;
		display: flex;
		height: 50px;
		border-radius: 4px;
	   background-image: -webkit-linear-gradient($bluey-grey, $slate);
	   background-image: -o-linear-gradient($bluey-grey, $slate);
	   background-image: linear-gradient($bluey-grey, $slate);
	   justify-content: space-between;
		align-items: flex-end;
		.catalog-submenu {
			&__item {
				margin-bottom: 7px;
			}
		}
		&__item {
			list-style: none;
			flex-shrink: 1;
			display: flex;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			position: relative;
			margin-left: -11px;
			> .header-submenu {
				list-style: none;
				position: absolute;
				top: 100%;
				left: 0;
				opacity: 0;
				visibility: hidden;
				border-radius: 0;
				background-color: #ffffff;
				padding: 16px 18px;
				box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.15);
				font-size: 15px;
				line-height: 1.33;
				color: #000000;
				z-index: 2;
				display: flex;
				ul {
					list-style: none;
				}
				&.catalog {
					width: 200px;
					height: 377px;
					left: 0;
					display: block;
					padding: 16px 0;
					.header-submenu {
						&__item {
							margin-bottom: 15px;
							position: relative;
							padding: 0 10px 0 19px;
							a {
								color: #000000;	
								&:hover {
									color:#78c865;
								}
							}
							&:after {
								position: absolute;
								top: 50%;
								margin-top: -2px;
								right: 9px;
								content: '';
								border: 4px solid transparent;	
								border-left: 4px solid #d8d8d8;

							}
							&:last-child {
									margin-bottom: 0;
								}
							> .catalog-submenu {
								width: 500px;
								height: 377px;
								padding: 16px 21px;
								border-radius: 3px;
								background-color: #f3f5f9;
								background-color: $pale-grey;
								font-size: 13px;
								line-height: 1.54;
								color: #000000;
								display: flex;
								flex-direction: column;
								flex-wrap: wrap;
								position: absolute;
								left: 200px;
								top: -15px;
								opacity: 0;
								visibility: hidden;
							}
							&:hover {
								color: #78c865;
								cursor: pointer;
								> .catalog-submenu {
									opacity: 1;
									visibility: visible;
									z-index: 2;
								}
							}
						}
					}
				}
				&.kinds {
					width: 415px;
					left: 0;
					ul {
						&:first-child {
						margin-right: 152px;
						}
					}
				}
				&.brands {
					text-transform: uppercase;
					width: 1170px;
					left: -130px;
					ul {
						&:first-child {
						margin-right: 112px;
						}
					}
				}
				&.inviting {
					width: 417px;
					left: 0;
					ul {
						white-space: nowrap;
						&:first-child {
						margin-right: 41px;
						}
					}

				}
				li ul li {
					&.header-submenu__item {
						margin-bottom: 15px;
					}
				}
			}
			&:hover {
				a {
					color: #78c865;
				}
				li ul li {
					&.header-submenu__item {
						a {
							color: #000000;	
							&:hover {
								color:#78c865;
							}
						}
					}
				}
			}
			a + a {
				font-size: 8px;
				color: #ffffff;
				margin-top: 14px;
				transition: all 0s;
				padding-right: 17px;
			}
			 &.active {
			 	background-color: #ffffff;
			 	>.header-submenu {
			 		opacity: 1;
			 		visibility: visible;
			 	}
			 	&:first-child {
			 		&:hover:before {
			 			color: #496074;
			 		}
			 	}
			 	&:first-child:before {
			 		color: #496074;
			 	}
			 	.header-menu__link {
				  	color: #526275;
				  	& + a {
				  		color: #526275;
				  		transform: rotate(180deg);
				  		position: relative;
				  		top: -20px;
				  		padding-right: 0;
				  		padding-left: 17px;
				  	}
			 	}
			  }
			.header-menu__link  {
				white-space: nowrap;
				 font-size: 15px;
				  font-weight: 600;
				  text-align: left;
				  color: #ffffff;
				  display: block;
				  padding: 9px 11px 18px 17px;
			}
			&:first-child {
				.header-menu__link {
					padding-left: 32px;
				}
				&:hover:before {
					color: #78c865;

				}
				&:before {
					font-family: 'icomoon';
					content: "\e908";
					color: #ffffff;
					font-size: 14px;
					vertical-align: middle;
					display: inline-block;
					margin-top: 9px;
					transition: all .3s;
					position: relative;
					left: 20px;
				}
			}
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				border-radius: 0;
				.btn {
					font-size: 15px;
					width: 168px;
					border-radius: 0;
					margin-left: 136px;
				}
				&:hover {
					.btn {
						color: #ffffff;
					}
				}
				.header-menu__link {
					text-align: center;
					padding: 0;
				}
			}
		}
	}
	.search-form {
		position: relative;
		max-width: 770px;
		width: 100%;
		input {
			width: 100%;
			height: 40px;
			object-fit: contain;
			border-radius: 3px;
			background-color: #ffffff;
			border: solid 1px #c2cad8;
			padding: 8px 119px 8px 19px;
			color: #4a4a4a;
			&::-webkit-input-placeholder {
				font-size: 15px;
				color: #c2cad8;
			}
			&:-moz-placeholder {
				font-size: 15px;
				color: #c2cad8;
			}
			&::-moz-placeholder {
				font-size: 15px;
				color: #c2cad8;
			}
			&:-ms-input-placeholder {
				font-size: 15px;
				color: #c2cad8;
			}  
		}
		.search-btn {
			position: absolute;
			padding: 8px 0;
			width: 100px;
			height: 40px;
			object-fit: contain;
			font-size: 15px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.67;
			letter-spacing: normal;
			text-align: center;
			color: #ffffff;
			z-index: 2;
			top: 0;
			right: 0;
			border-radius: 3px;
			border-bottom-left-radius: 0;
   			border-top-left-radius: 0;
		    background-image: -webkit-linear-gradient(#8798ab, #4f5f72);
		    background-image: -o-linear-gradient(#8798ab, #4f5f72);
		    background-image: linear-gradient(#8798ab, #4f5f72);
		    background-image: linear-gradient(to bottom, $bluey-grey, $slate);
		  	transition: all 0s;
		    &:hover {
		    	color: #ffffff;
		    	background-image: none;
		    	background-color: #4f5f72;
  				background-color: $slate;
		    }
		}
	}
	.tel {
		float: right;
		font-size: 18px;
		font-weight: 600;
		text-align: left;
		color: #000000;
		line-height: 35px;
		span {
			font-size: 14px;
  			font-weight: normal;
		}
	}
}

.invite {
	.h1 {
		text-align: center;
		margin-top: 37px;
		margin-bottom: 10px;
	}
	&__img {
		margin-bottom: 12px;
		height: 180px;
		overflow: hidden;
		text-align: center;
		img {
			width: 100%;
		}
		
	}
	.col-lg-3, .col-lg-6 {
		margin-bottom: 15px;
	}
}

.chain {
	margin-top: 41px;
	&__left-col {
		display: flex;
		justify-content: space-between;
	}
	.btn-container {
		text-align: center;
		margin-top: 48px;
		a {
			&:hover {
				color: #ffffff;
			}
		}
	}
	.chain-list {
		display: flex;
		flex-wrap: wrap;
		&__item {
			width: 50%;
			@extend .clearfix;
			margin-bottom: 15px;
			height: 51px;
			line-height: 51px;
		}
		&__text {
			display: inline-block;
			vertical-align: middle;
			p {
				float: left;
				font-size: 15px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.33;
				letter-spacing: normal;
				text-align: left;
				color: #000000;		
			}
		}
		&__img {
			float: left;
			margin-right: 9px;
			height: 51px;
			vertical-align: middle;
		}
	}
	&__text {
		font-size: 20px;
		font-weight: 300;
		line-height: 1.5;
		text-align: left;
		color: #000000;
		b {
			font-weight: bold;
		}
	}
	&__arrow {
		font-size: 18px;
  		color: #d8d8d8;
  		display: block;
  		margin-top: 10px;
	}
}

.advantages {
	margin-top: 85px;
	.h2{
		text-align: center;
		margin-top: 41px;
		margin-bottom: 24px;
	}
	.container {
		background-color: $pale-grey;
	}
	.advantages-slider {
		margin-bottom: 85px;
		overflow: hidden;
		box-shadow: 0 10px 20px 0 #dfe5f4;
		&__info {
			padding: 22px 63px;
		    display: flex;
		    display: -webkit-flex;
			.number {
				margin-right: 50px;
				font-size: 26px;
				color: #9b9b9b;
				.active {
					font-size: 36px;
					color: #d92328;
				}
			}
			.text {
				line-height: 1.67;
				text-align: left;
				font-size: 15px;
				color: #000000;
			}
		}	
		.slick-slide {
			text-align: center;
			height: 580px;
			background-color: #ffffff;
			outline: none;
		}
		.slick-prev, .slick-next {
			top: 210px;
			z-index: 1;
			&:hover:before {
				color: $mid-green;
			}
			&:before {
				font-size: 53px;
				opacity: 1;
				color: #ffffff;
			}
		}
		.slick-arrow {
			width: 200px;
   			height: 478px;
    		opacity: 0.4;
    		background-image: linear-gradient(to left, #000000, rgba(216, 216, 216, 0));
		}
		.slick-prev {
			left: 0;
			background-image: linear-gradient(to right, #000000, rgba(216, 216, 216, 0));
			&:before {
				font-family: 'icomoon';
				content: "\e900";
				position: relative;
    			left: -60px;
			}
		}
		.slick-next {
			right: 0;
			&:before {
				font-family: 'icomoon';
				content: "\e901";
				position: relative;
    			right: -60px;
			}
		}
	}
}

.partners {
		font-size: 15px;
		line-height: 1.67;
		color: #000000;
	a {
		&:hover {
			color: #ffffff;
		}
	}
	.partners-quote {
		line-height: 1.47;
		font-style: italic;
		margin-top: 24px;
		@extend .clearfix;
		&__img, &__text {
			float: left;
		}
		&__img {
			max-width: 200px;
			img {
				margin-bottom: 19px;
				max-width: 160px;
			}
		}
		&__text {
			max-width: 504px;
		}
	}
	&__item {
		border-radius: 5px;
		background-color: #ffffff;
		box-shadow: 0 10px 20px 0 #dfe5f4;
		padding: 25px 38px 54px 38px;
		margin-bottom: 20px;
	}
	&__title {
		font-size: 25px;
		line-height: 1.2;
		margin-bottom: 25px;
	}
	.partners-list {
		text-decoration: none;
		font-size: 15px;
		line-height: 1.67;
		text-align: left;
		list-style-position: inside;
		color: #000000;
		font-weight: bold;
		&__item {
			margin-bottom: 12px;
			span {
				font-weight: normal;
			}
		}
	}
}

.news {
	margin-bottom: 103px;
	.h2 {
		text-align: center;
		margin-bottom: 39px;
	}
	.show-news {
		display: block;
		margin-top: 27px;
		font-size: 12px;
		line-height: 1.17;
		color: #0583be;
	}
	&__img {
		display: block;
		text-align: center;
		margin-bottom: 24px;
	}
	&__date {
		font-size: 12px;
  		line-height: 1.67;
  		color: #000000;

	}
	&__info {
		font-size: 15px;
  		line-height: 1.6;
  		color: #000000;
	}
	&__title {
		display: block;
		margin: 15px 0;
		font-size: 15px;
  		color: #000000;
  		line-height: 1.33;
  		color: #0583be;
  		font-weight: bold;
	}
}

.footer-wr {
	.container {
		background-color: $slate;
	}
}
.footer {
	padding: 34px 0 54px;
	.service-list, .documents-list {
		text-decoration: none;
		list-style: none;
		li {
			margin-bottom: 0;
		}
	}
	a {
		color: #ffffff;
		&:hover {
			color: #78c865;
		}
	}
	&__text {
		font-size: 15px;
		line-height: 1.33;
		color: #ffffff;
		margin-bottom: 17px;
		text-align: left;
		&.low {
			font-size: 12px;
			line-height: 1.67;
		}
		.blue {
			font-size: 14px;
			font-weight: bold;
			line-height: 1.43;
			color: #99dbfa;
		}
		&.small {
			font-size: 14px;
			line-height: 1.43;
		}
		&.title {
			font-weight: bold;
			text-align: left;
		}
	}
	.logo {
		display: block;
		font-size: 46px;
		color: #ffffff;
		margin-bottom: 18px;
	}
	.social-icons {
		margin-top: 19px;
		@extend .clearfix;
		.social-ico {
			float: left;
			color: #ffffff;
			font-size: 20px;
			margin-right: 15px;
			&:hover {
				opacity: 0.5;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.clients {
	margin-top: 96px;
	margin-bottom: 82px;
	.h2 {
		margin-bottom: 40px;
		text-align: center;
	}
}

.brands {
	.h2 {
		margin-top: 57px;
		margin-bottom: 40px;
		text-align: center;
	}
}

.brands-slider {
	margin-bottom: 52px;
	&__text {
		font-size: 15px;
		line-height: 1.33;
		letter-spacing: normal;
		text-align: left;
		color: #000000;
		margin-top: 19px;
		height: 99px;
		margin-left: 9px;
		.brands-title {
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	.slick-slide {
		text-align: center;
		height: 213px;
		padding: 9px;
		border-radius: 3px;
		background-color: transparent;
		box-shadow: none;
		outline: none;
	}
	&__img {
		border-radius: 3px;
		background-color: #ffffff;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
		img {
			max-width: 170px;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.slick-list {
		margin: 0 -9px;
	}
	.slick-prev, .slick-next {
		top: 47px;
		z-index: 1;
		&:hover:before {
			color: $mid-green;
		}
		&:before {
			font-size: 24px;
			opacity: 1;
			color: #000000;
		}
	}
	.slick-prev {
		left: -23px;
		&:before {
			font-family: 'icomoon';
			content: "\e900";
		}
	}
	.slick-next {
		right: -20px;
		&:before {
			font-family: 'icomoon';
			content: "\e901";
		}
	}
}

.clients-slider {
	img {
		max-width: 140px;
		display: inline-block;
		vertical-align: middle;
		
	}
	&__img {
		text-align: center;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
		background-color: #ffffff;
		border-radius: 3px;
		line-height: 95px;
		height: 95px;
		vertical-align: middle;
		display: inline-block;
		width: 100%;
	}
	.slick-slide {
		text-align: center;
		margin: 0 15px;
		height: 100px;
		line-height: 100px;
		outline: none;
	}
	.slick-list {
		margin: 0 -9px;
	}
	.slick-prev, .slick-next {
		top: 50%;
		z-index: 1;
		&:hover:before {
			color: $mid-green;
		}
		&:before {
			font-size: 24px;
			opacity: 1;
			color: #000000;
		}
	}
	.slick-prev {
		left: -23px;
		&:before {
			font-family: 'icomoon';
			content: "\e900";
		}
	}
	.slick-next {
		right: -20px;
		&:before {
			font-family: 'icomoon'; 
			content: "\e901";
		}
	}
}

.btns-block {
	margin: 35px 0 40px;
	.btns-wr {
		display: flex;
		justify-content: space-between;
	}
	.btn {
		width: 100%;
		margin-right: 30px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		border-radius: 3px;
		color: #000000;
		font-weight: 600;
		font-size: 18px;
		&:last-child {
			margin-right: 0;
		}
		span {
			margin-right: 20px;
			font-size: 30px;
			vertical-align: middle;
		}
		&--blue {
			background-image: linear-gradient(to bottom, #95daf2, #6ec3e4);
			&:hover {
				background-color: #95daf2;
				background-image: none;
			}
		}
		&--orange {
		 background-image: -webkit-linear-gradient(#ffe9b0, #facb8e);
		 background-image: -o-linear-gradient(#ffe9b0, #facb8e);
		 background-image: linear-gradient(#ffe9b0, #facb8e);
		 &:hover {
		 	background-color: #facb8f;
		 	background-image: none;
		 }
		}
		&--green {	 
		  background-image: -webkit-linear-gradient(#c6e6a5, #a9cf7e);
		  background-image: -o-linear-gradient(#c6e6a5, #a9cf7e);
		  background-image: linear-gradient(#c6e6a5, #a9cf7e);
		  &:hover {
		  	background-color: #c4e5a3;
		  	background-image: none;
		  }
		}
		&--gray {
			background-image: linear-gradient(to bottom, #eef2f7, #d3ddea);
			&:hover {
				 background-color: #e6ecf3;
				 background-image: none;
			}
		}
	}
}

.links-block {
	.row {
		border-bottom: 1px solid rgba(216,216,216,.4);
		padding-bottom: 39px;
		padding-top: 21px;
		&.title {
			border-bottom: none;
			padding-top: 0;
			padding-bottom: 0;
			margin-top: 22px;
		}
		&:last-child {
			padding-bottom: 84px;
		}
	}
	.show-links {
		margin-left: 14px;
		font-size: 14px;
		line-height: 2;
		color: #0583be;
	}
	&__title {
		margin-bottom: 21px;
		font-size: 26px;
		font-weight: 600;
		color: #1e2021;
	}
	&__item {
		display: block;
		font-size: 15px;
		font-weight: 600;
		color: #0583be;
		line-height: 30px;
		margin-bottom: 8px;
		&:hover {
			color: #506073;
		}
		span {
			margin-right: 9px;
			font-size: 30px;
			color: #3b3735;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.banner {
	margin-top: 40px;
	img {
		width: 100%;
		max-height: 415px;
		border: solid 7px #ffffff;
	}
}
 
 //@media

@media screen and (max-width: 1310px) {
	.header {
		.header-menu {
			&__item {
				&:last-child {
					.btn {
						margin-left: 50px;
					}
				}
				> .header-submenu {
					&.brands {
						width: 770px;
						left: 0px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.header {
		.header-menu {
			&__item {
				.header-menu {
					&__link {
						font-size: 13px;
						padding: 9px 5px 18px 5px;
					}
				}
				&:last-child {
					.btn {
						width: 150px;
						margin-left: 30px;
					}
				}
			}
		}
	}
}