body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  background-color: #fbfbfb; }

section, header, footer {
  margin: 0 auto; }

a {
  outline: none; }
  a:hover {
    cursor: pointer;
    text-decoration: none; }

p {
  color: #6b767c;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #000000; }
  p.title {
    text-align: center;
    margin-bottom: 28px; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.13);
  display: none; }
  .overlay.active {
    display: block; }

.clearfix:after, .personal-area:after, .chain .chain-list__item:after, .partners .partners-quote:after, .footer .social-icons:after {
  content: '';
  display: table;
  clear: both; }

.container {
  padding: 0 50px;
  max-width: 1270px;
  margin: 0 auto;
  min-width: 1000px; }

.h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  color: #506073; }

.h2 {
  font-size: 35px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #506073; }

.enter-form {
  display: none;
  width: 300px;
  padding: 16px 20px;
  background-color: #ffffff;
  position: absolute;
  z-index: 10;
  top: 34px;
  right: 15px;
  border-radius: 3px; }
  .enter-form__btn {
    height: 35px;
    line-height: 35px;
    padding: 0 12px;
    color: #ffffff;
    font-size: 15px;
    margin-right: 12px;
    border-radius: 3px;
    background-color: #748597;
    border: none;
    outline: none; }
    .enter-form__btn:hover {
      color: #ffffff;
      background-image: none;
      background-color: #4f5f72;
      background-color: #4f5f72; }
    .enter-form__btn:last-child {
      margin-right: 0;
      background-image: -webkit-linear-gradient(#84f16a, #5cb746);
      background-image: -o-linear-gradient(#84f16a, #5cb746);
      background-image: linear-gradient(#84f16a, #5cb746); }
      .enter-form__btn:last-child:hover {
        color: #ffffff;
        background-image: none;
        background-color: #5cb746; }
  .enter-form.active {
    display: block; }
  .enter-form a.remember-password {
    color: #0583be;
    font-size: 12px;
    line-height: 12px; }
    .enter-form a.remember-password:hover {
      color: #0583be; }
  .enter-form .form-row {
    width: 100%;
    margin-bottom: 14px; }
    .enter-form .form-row:last-child {
      margin-bottom: 0; }
  .enter-form .input {
    width: 100%;
    height: 31px;
    line-height: 31px;
    color: #314359;
    font-size: 12px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #c2cad8;
    padding: 0 10px; }

.btn {
  outline: none;
  width: 210px;
  height: 50px;
  border: none;
  border-radius: 4px;
  object-fit: contain;
  background-image: linear-gradient(to bottom, #84f16a, #5cb746);
  background-image: linear-gradient(to bottom, #84f16a, #5cb746);
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  transition: all 0s; }
  .btn:hover {
    background-image: none;
    background-color: #5cb746;
    background-color: #5cb746; }
  .btn:focus {
    box-shadow: none; }

.personal-area {
  background-color: #f3f5f9;
  background-color: #f3f5f9;
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-bottom: 6px; }
  .personal-area .row {
    position: relative; }
  .personal-area__balance {
    float: left;
    color: #314459;
    font-size: 12px;
    padding-left: 247px; }
    .personal-area__balance span {
      color: #d0021b; }
      .personal-area__balance span b {
        font-size: 14px; }
  .personal-area__text {
    font-size: 15px;
    font-weight: 600;
    color: #0583be;
    float: left; }
    .personal-area__text span {
      margin-left: 15px;
      font-size: 12px;
      color: #314459;
      font-weight: normal; }
  .personal-area .personal {
    display: block;
    font-size: 14px;
    color: #314359;
    float: right;
    position: relative;
    z-index: 10; }
    .personal-area .personal span {
      margin-right: 10px;
      color: #8f8f90; }
    .personal-area .personal.active {
      background-color: #ffffff;
      padding: 0 20px;
      height: 35px; }

.header {
  padding-top: 35px; }
  .header .logo {
    font-size: 46px;
    color: #d92328; }
    .header .logo span:before {
      font-size: 46px; }
  .header .btns-list {
    text-align: left;
    list-style: none;
    padding-left: 100px; }
    .header .btns-list__item {
      line-height: 2;
      font-size: 14px; }
      .header .btns-list__item a {
        color: #0583be; }
        .header .btns-list__item a:hover {
          color: #506073; }
      .header .btns-list__item span {
        margin-right: 10px;
        font-size: 20px;
        color: #fbfbfb; }
  .header .header-menu {
    width: 100%;
    margin-top: 34px;
    text-decoration: none;
    display: flex;
    height: 50px;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(#8798ab, #4f5f72);
    background-image: -o-linear-gradient(#8798ab, #4f5f72);
    background-image: linear-gradient(#8798ab, #4f5f72);
    justify-content: space-between;
    align-items: flex-end; }
    .header .header-menu .catalog-submenu__item {
      margin-bottom: 7px; }
    .header .header-menu__item {
      list-style: none;
      flex-shrink: 1;
      display: flex;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      position: relative;
      margin-left: -11px; }
      .header .header-menu__item > .header-submenu {
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        border-radius: 0;
        background-color: #ffffff;
        padding: 16px 18px;
        box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.15);
        font-size: 15px;
        line-height: 1.33;
        color: #000000;
        z-index: 2;
        display: flex; }
        .header .header-menu__item > .header-submenu ul {
          list-style: none; }
        .header .header-menu__item > .header-submenu.catalog {
          width: 200px;
          height: 377px;
          left: 0;
          display: block;
          padding: 16px 0; }
          .header .header-menu__item > .header-submenu.catalog .header-submenu__item {
            margin-bottom: 15px;
            position: relative;
            padding: 0 10px 0 19px; }
            .header .header-menu__item > .header-submenu.catalog .header-submenu__item a {
              color: #000000; }
              .header .header-menu__item > .header-submenu.catalog .header-submenu__item a:hover {
                color: #78c865; }
            .header .header-menu__item > .header-submenu.catalog .header-submenu__item:after {
              position: absolute;
              top: 50%;
              margin-top: -2px;
              right: 9px;
              content: '';
              border: 4px solid transparent;
              border-left: 4px solid #d8d8d8; }
            .header .header-menu__item > .header-submenu.catalog .header-submenu__item:last-child {
              margin-bottom: 0; }
            .header .header-menu__item > .header-submenu.catalog .header-submenu__item > .catalog-submenu {
              width: 500px;
              height: 377px;
              padding: 16px 21px;
              border-radius: 3px;
              background-color: #f3f5f9;
              background-color: #f3f5f9;
              font-size: 13px;
              line-height: 1.54;
              color: #000000;
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              position: absolute;
              left: 200px;
              top: -15px;
              opacity: 0;
              visibility: hidden; }
            .header .header-menu__item > .header-submenu.catalog .header-submenu__item:hover {
              color: #78c865;
              cursor: pointer; }
              .header .header-menu__item > .header-submenu.catalog .header-submenu__item:hover > .catalog-submenu {
                opacity: 1;
                visibility: visible;
                z-index: 2; }
        .header .header-menu__item > .header-submenu.kinds {
          width: 415px;
          left: 0; }
          .header .header-menu__item > .header-submenu.kinds ul:first-child {
            margin-right: 152px; }
        .header .header-menu__item > .header-submenu.brands {
          text-transform: uppercase;
          width: 1170px;
          left: -130px; }
          .header .header-menu__item > .header-submenu.brands ul:first-child {
            margin-right: 112px; }
        .header .header-menu__item > .header-submenu.inviting {
          width: 417px;
          left: 0; }
          .header .header-menu__item > .header-submenu.inviting ul {
            white-space: nowrap; }
            .header .header-menu__item > .header-submenu.inviting ul:first-child {
              margin-right: 41px; }
        .header .header-menu__item > .header-submenu li ul li.header-submenu__item {
          margin-bottom: 15px; }
      .header .header-menu__item:hover a {
        color: #78c865; }
      .header .header-menu__item:hover li ul li.header-submenu__item a {
        color: #000000; }
        .header .header-menu__item:hover li ul li.header-submenu__item a:hover {
          color: #78c865; }
      .header .header-menu__item a + a {
        font-size: 8px;
        color: #ffffff;
        margin-top: 14px;
        transition: all 0s;
        padding-right: 17px; }
      .header .header-menu__item.active {
        background-color: #ffffff; }
        .header .header-menu__item.active > .header-submenu {
          opacity: 1;
          visibility: visible; }
        .header .header-menu__item.active:first-child:hover:before {
          color: #496074; }
        .header .header-menu__item.active:first-child:before {
          color: #496074; }
        .header .header-menu__item.active .header-menu__link {
          color: #526275; }
          .header .header-menu__item.active .header-menu__link + a {
            color: #526275;
            transform: rotate(180deg);
            position: relative;
            top: -20px;
            padding-right: 0;
            padding-left: 17px; }
      .header .header-menu__item .header-menu__link {
        white-space: nowrap;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
        color: #ffffff;
        display: block;
        padding: 9px 11px 18px 17px; }
      .header .header-menu__item:first-child .header-menu__link {
        padding-left: 32px; }
      .header .header-menu__item:first-child:hover:before {
        color: #78c865; }
      .header .header-menu__item:first-child:before {
        font-family: 'icomoon';
        content: "\e908";
        color: #ffffff;
        font-size: 14px;
        vertical-align: middle;
        display: inline-block;
        margin-top: 9px;
        transition: all .3s;
        position: relative;
        left: 20px; }
      .header .header-menu__item:first-child {
        margin-left: 0; }
      .header .header-menu__item:last-child {
        border-radius: 0; }
        .header .header-menu__item:last-child .btn {
          font-size: 15px;
          width: 168px;
          border-radius: 0;
          margin-left: 136px; }
        .header .header-menu__item:last-child:hover .btn {
          color: #ffffff; }
        .header .header-menu__item:last-child .header-menu__link {
          text-align: center;
          padding: 0; }
  .header .search-form {
    position: relative;
    max-width: 770px;
    width: 100%; }
    .header .search-form input {
      width: 100%;
      height: 40px;
      object-fit: contain;
      border-radius: 3px;
      background-color: #ffffff;
      border: solid 1px #c2cad8;
      padding: 8px 119px 8px 19px;
      color: #4a4a4a; }
      .header .search-form input::-webkit-input-placeholder {
        font-size: 15px;
        color: #c2cad8; }
      .header .search-form input:-moz-placeholder {
        font-size: 15px;
        color: #c2cad8; }
      .header .search-form input::-moz-placeholder {
        font-size: 15px;
        color: #c2cad8; }
      .header .search-form input:-ms-input-placeholder {
        font-size: 15px;
        color: #c2cad8; }
    .header .search-form .search-btn {
      position: absolute;
      padding: 8px 0;
      width: 100px;
      height: 40px;
      object-fit: contain;
      font-size: 15px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      z-index: 2;
      top: 0;
      right: 0;
      border-radius: 3px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      background-image: -webkit-linear-gradient(#8798ab, #4f5f72);
      background-image: -o-linear-gradient(#8798ab, #4f5f72);
      background-image: linear-gradient(#8798ab, #4f5f72);
      background-image: linear-gradient(to bottom, #8798ab, #4f5f72);
      transition: all 0s; }
      .header .search-form .search-btn:hover {
        color: #ffffff;
        background-image: none;
        background-color: #4f5f72;
        background-color: #4f5f72; }
  .header .tel {
    float: right;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: #000000;
    line-height: 35px; }
    .header .tel span {
      font-size: 14px;
      font-weight: normal; }

.invite .h1 {
  text-align: center;
  margin-top: 37px;
  margin-bottom: 10px; }
.invite__img {
  margin-bottom: 12px;
  height: 180px;
  overflow: hidden;
  text-align: center; }
  .invite__img img {
    width: 100%; }
.invite .col-lg-3, .invite .col-lg-6 {
  margin-bottom: 15px; }

.chain {
  margin-top: 41px; }
  .chain__left-col {
    display: flex;
    justify-content: space-between; }
  .chain .btn-container {
    text-align: center;
    margin-top: 48px; }
    .chain .btn-container a:hover {
      color: #ffffff; }
  .chain .chain-list {
    display: flex;
    flex-wrap: wrap; }
    .chain .chain-list__item {
      width: 50%;
      margin-bottom: 15px;
      height: 51px;
      line-height: 51px; }
    .chain .chain-list__text {
      display: inline-block;
      vertical-align: middle; }
      .chain .chain-list__text p {
        float: left;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #000000; }
    .chain .chain-list__img {
      float: left;
      margin-right: 9px;
      height: 51px;
      vertical-align: middle; }
  .chain__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    color: #000000; }
    .chain__text b {
      font-weight: bold; }
  .chain__arrow {
    font-size: 18px;
    color: #d8d8d8;
    display: block;
    margin-top: 10px; }

.advantages {
  margin-top: 85px; }
  .advantages .h2 {
    text-align: center;
    margin-top: 41px;
    margin-bottom: 24px; }
  .advantages .container {
    background-color: #f3f5f9; }
  .advantages .advantages-slider {
    margin-bottom: 85px;
    overflow: hidden;
    box-shadow: 0 10px 20px 0 #dfe5f4; }
    .advantages .advantages-slider__info {
      padding: 22px 63px;
      display: flex;
      display: -webkit-flex; }
      .advantages .advantages-slider__info .number {
        margin-right: 50px;
        font-size: 26px;
        color: #9b9b9b; }
        .advantages .advantages-slider__info .number .active {
          font-size: 36px;
          color: #d92328; }
      .advantages .advantages-slider__info .text {
        line-height: 1.67;
        text-align: left;
        font-size: 15px;
        color: #000000; }
    .advantages .advantages-slider .slick-slide {
      text-align: center;
      height: 580px;
      background-color: #ffffff;
      outline: none; }
    .advantages .advantages-slider .slick-prev, .advantages .advantages-slider .slick-next {
      top: 210px;
      z-index: 1; }
      .advantages .advantages-slider .slick-prev:hover:before, .advantages .advantages-slider .slick-next:hover:before {
        color: #5cb746; }
      .advantages .advantages-slider .slick-prev:before, .advantages .advantages-slider .slick-next:before {
        font-size: 53px;
        opacity: 1;
        color: #ffffff; }
    .advantages .advantages-slider .slick-arrow {
      width: 200px;
      height: 478px;
      opacity: 0.4;
      background-image: linear-gradient(to left, #000000, rgba(216, 216, 216, 0)); }
    .advantages .advantages-slider .slick-prev {
      left: 0;
      background-image: linear-gradient(to right, #000000, rgba(216, 216, 216, 0)); }
      .advantages .advantages-slider .slick-prev:before {
        font-family: 'icomoon';
        content: "\e900";
        position: relative;
        left: -60px; }
    .advantages .advantages-slider .slick-next {
      right: 0; }
      .advantages .advantages-slider .slick-next:before {
        font-family: 'icomoon';
        content: "\e901";
        position: relative;
        right: -60px; }

.partners {
  font-size: 15px;
  line-height: 1.67;
  color: #000000; }
  .partners a:hover {
    color: #ffffff; }
  .partners .partners-quote {
    line-height: 1.47;
    font-style: italic;
    margin-top: 24px; }
    .partners .partners-quote__img, .partners .partners-quote__text {
      float: left; }
    .partners .partners-quote__img {
      max-width: 200px; }
      .partners .partners-quote__img img {
        margin-bottom: 19px;
        max-width: 160px; }
    .partners .partners-quote__text {
      max-width: 504px; }
  .partners__item {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px 0 #dfe5f4;
    padding: 25px 38px 54px 38px;
    margin-bottom: 20px; }
  .partners__title {
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 25px; }
  .partners .partners-list {
    text-decoration: none;
    font-size: 15px;
    line-height: 1.67;
    text-align: left;
    list-style-position: inside;
    color: #000000;
    font-weight: bold; }
    .partners .partners-list__item {
      margin-bottom: 12px; }
      .partners .partners-list__item span {
        font-weight: normal; }

.news {
  margin-bottom: 103px; }
  .news .h2 {
    text-align: center;
    margin-bottom: 39px; }
  .news .show-news {
    display: block;
    margin-top: 27px;
    font-size: 12px;
    line-height: 1.17;
    color: #0583be; }
  .news__img {
    display: block;
    text-align: center;
    margin-bottom: 24px; }
  .news__date {
    font-size: 12px;
    line-height: 1.67;
    color: #000000; }
  .news__info {
    font-size: 15px;
    line-height: 1.6;
    color: #000000; }
  .news__title {
    display: block;
    margin: 15px 0;
    font-size: 15px;
    color: #000000;
    line-height: 1.33;
    color: #0583be;
    font-weight: bold; }

.footer-wr .container {
  background-color: #4f5f72; }

.footer {
  padding: 34px 0 54px; }
  .footer .service-list, .footer .documents-list {
    text-decoration: none;
    list-style: none; }
    .footer .service-list li, .footer .documents-list li {
      margin-bottom: 0; }
  .footer a {
    color: #ffffff; }
    .footer a:hover {
      color: #78c865; }
  .footer__text {
    font-size: 15px;
    line-height: 1.33;
    color: #ffffff;
    margin-bottom: 17px;
    text-align: left; }
    .footer__text.low {
      font-size: 12px;
      line-height: 1.67; }
    .footer__text .blue {
      font-size: 14px;
      font-weight: bold;
      line-height: 1.43;
      color: #99dbfa; }
    .footer__text.small {
      font-size: 14px;
      line-height: 1.43; }
    .footer__text.title {
      font-weight: bold;
      text-align: left; }
  .footer .logo {
    display: block;
    font-size: 46px;
    color: #ffffff;
    margin-bottom: 18px; }
  .footer .social-icons {
    margin-top: 19px; }
    .footer .social-icons .social-ico {
      float: left;
      color: #ffffff;
      font-size: 20px;
      margin-right: 15px; }
      .footer .social-icons .social-ico:hover {
        opacity: 0.5; }
      .footer .social-icons .social-ico:last-child {
        margin-right: 0; }

.clients {
  margin-top: 96px;
  margin-bottom: 82px; }
  .clients .h2 {
    margin-bottom: 40px;
    text-align: center; }

.brands .h2 {
  margin-top: 57px;
  margin-bottom: 40px;
  text-align: center; }

.brands-slider {
  margin-bottom: 52px; }
  .brands-slider__text {
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 19px;
    height: 99px;
    margin-left: 9px; }
    .brands-slider__text .brands-title {
      text-transform: uppercase;
      font-weight: bold; }
  .brands-slider .slick-slide {
    text-align: center;
    height: 213px;
    padding: 9px;
    border-radius: 3px;
    background-color: transparent;
    box-shadow: none;
    outline: none; }
  .brands-slider__img {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13); }
    .brands-slider__img img {
      max-width: 170px;
      display: inline-block;
      vertical-align: middle; }
  .brands-slider .slick-list {
    margin: 0 -9px; }
  .brands-slider .slick-prev, .brands-slider .slick-next {
    top: 47px;
    z-index: 1; }
    .brands-slider .slick-prev:hover:before, .brands-slider .slick-next:hover:before {
      color: #5cb746; }
    .brands-slider .slick-prev:before, .brands-slider .slick-next:before {
      font-size: 24px;
      opacity: 1;
      color: #000000; }
  .brands-slider .slick-prev {
    left: -23px; }
    .brands-slider .slick-prev:before {
      font-family: 'icomoon';
      content: "\e900"; }
  .brands-slider .slick-next {
    right: -20px; }
    .brands-slider .slick-next:before {
      font-family: 'icomoon';
      content: "\e901"; }

.clients-slider img {
  max-width: 140px;
  display: inline-block;
  vertical-align: middle; }
.clients-slider__img {
  text-align: center;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  border-radius: 3px;
  line-height: 95px;
  height: 95px;
  vertical-align: middle;
  display: inline-block;
  width: 100%; }
.clients-slider .slick-slide {
  text-align: center;
  margin: 0 15px;
  height: 100px;
  line-height: 100px;
  outline: none; }
.clients-slider .slick-list {
  margin: 0 -9px; }
.clients-slider .slick-prev, .clients-slider .slick-next {
  top: 50%;
  z-index: 1; }
  .clients-slider .slick-prev:hover:before, .clients-slider .slick-next:hover:before {
    color: #5cb746; }
  .clients-slider .slick-prev:before, .clients-slider .slick-next:before {
    font-size: 24px;
    opacity: 1;
    color: #000000; }
.clients-slider .slick-prev {
  left: -23px; }
  .clients-slider .slick-prev:before {
    font-family: 'icomoon';
    content: "\e900"; }
.clients-slider .slick-next {
  right: -20px; }
  .clients-slider .slick-next:before {
    font-family: 'icomoon';
    content: "\e901"; }

.btns-block {
  margin: 35px 0 40px; }
  .btns-block .btns-wr {
    display: flex;
    justify-content: space-between; }
  .btns-block .btn {
    width: 100%;
    margin-right: 30px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 3px;
    color: #000000;
    font-weight: 600;
    font-size: 18px; }
    .btns-block .btn:last-child {
      margin-right: 0; }
    .btns-block .btn span {
      margin-right: 20px;
      font-size: 30px;
      vertical-align: middle; }
    .btns-block .btn--blue {
      background-image: linear-gradient(to bottom, #95daf2, #6ec3e4); }
      .btns-block .btn--blue:hover {
        background-color: #95daf2;
        background-image: none; }
    .btns-block .btn--orange {
      background-image: -webkit-linear-gradient(#ffe9b0, #facb8e);
      background-image: -o-linear-gradient(#ffe9b0, #facb8e);
      background-image: linear-gradient(#ffe9b0, #facb8e); }
      .btns-block .btn--orange:hover {
        background-color: #facb8f;
        background-image: none; }
    .btns-block .btn--green {
      background-image: -webkit-linear-gradient(#c6e6a5, #a9cf7e);
      background-image: -o-linear-gradient(#c6e6a5, #a9cf7e);
      background-image: linear-gradient(#c6e6a5, #a9cf7e); }
      .btns-block .btn--green:hover {
        background-color: #c4e5a3;
        background-image: none; }
    .btns-block .btn--gray {
      background-image: linear-gradient(to bottom, #eef2f7, #d3ddea); }
      .btns-block .btn--gray:hover {
        background-color: #e6ecf3;
        background-image: none; }

.links-block .row {
  border-bottom: 1px solid rgba(216, 216, 216, 0.4);
  padding-bottom: 39px;
  padding-top: 21px; }
  .links-block .row.title {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 22px; }
  .links-block .row:last-child {
    padding-bottom: 84px; }
.links-block .show-links {
  margin-left: 14px;
  font-size: 14px;
  line-height: 2;
  color: #0583be; }
.links-block__title {
  margin-bottom: 21px;
  font-size: 26px;
  font-weight: 600;
  color: #1e2021; }
.links-block__item {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #0583be;
  line-height: 30px;
  margin-bottom: 8px; }
  .links-block__item:hover {
    color: #506073; }
  .links-block__item span {
    margin-right: 9px;
    font-size: 30px;
    color: #3b3735;
    display: inline-block;
    vertical-align: middle; }

.banner {
  margin-top: 40px; }
  .banner img {
    width: 100%;
    max-height: 415px;
    border: solid 7px #ffffff; }

@media screen and (max-width: 1310px) {
  .header .header-menu__item:last-child .btn {
    margin-left: 50px; }
  .header .header-menu__item > .header-submenu.brands {
    width: 770px;
    left: 0px; } }
@media screen and (max-width: 1200px) {
  .header .header-menu__item .header-menu__link {
    font-size: 13px;
    padding: 9px 5px 18px 5px; }
  .header .header-menu__item:last-child .btn {
    width: 150px;
    margin-left: 30px; } }

/*# sourceMappingURL=style.css.map */
